#contenedorPrincipalMisVotaciones3{
    background-color: #020202;
    max-width: 100vw;
    height: calc(100vh - 15vh);
    overflow-y: auto;
}

#contenedorSecundarioMisVotaciones3{
    background: #E5E4E0;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: fixed;
    top: 15vh;
}

#contenedorCrearVotacion3{
    overflow-y: auto;
    background: #F1F1F1;
    height: 80vh;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.filasCrearVot3{
    padding: 0px;
    margin: 0px;
}

.columnasVot3{
    
    padding: 0px;
    margin: 0px;
}

#tituloVotacion3{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'ROBOTO', sans-serif;
}

#filaTituloVot3{
    height: 15%;
    align-items: center;
    width: 80%;
    margin: auto;
}

.titulosForm3{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
}

.textosForm3{ 
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0px 5px;
    width: 80%;
}

#filaTituloPregVot3{
    height: 20%;
    align-items: center;
    width: 80%;
    margin: auto;
}

#filaSwitchCrearVot3{
    height: 15%;
    align-items: center;
    width: 80%;
    margin: auto;
    font-size: 2vw;
}

#switchListaParticipantes{
    font-size: 1.8vw;
    font-weight: 400;
    font-family: sans-serif;
}


#filaCantDePersonasDirectorio{
    height: 15%;
    align-items: center;
    width: 80%;
    margin: auto;
}

#tituloSwitchVot3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 2vw;
}

#numeroParticipantesVot3{
    font-size: 1.4vw;
    font-weight: 500;
    font-family: sans-serif;
}

#nombreVot3{
    font-size: 1.4vw;
    font-weight: 500;
    font-family: sans-serif;
    width: 90%;
    margin-bottom: 20px;
}

#nombreUserVotante{
    font-size: 1.4vw;
    font-weight: 500;
    font-family: sans-serif;
    width: 90%;
    margin-bottom: 20px;
}

#rutVot3{
    font-size: 1.4vw;
    font-weight: 500;
    font-family: sans-serif;
    width: 90%;
}

#rutUserVotante{
    font-size: 1.4vw;
    font-weight: 500;
    font-family: sans-serif;
    width: 90%;
}

#contenedorBtnAgregarParticipanteVot3{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: right;
}

#btnAgregarParticipantesVot3{
    width: max-content;
    height: 50%;
    align-self: self-end;
    font-size: 1.8vw;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

#btnEliminarParticipanteVot3{
    background: none;
    border: none;
    font-size: 23px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
}

#iconoEliminarVot3{
    color: red;
    font-size: xx-large;
    cursor: pointer;
    margin-right: 10px;
}