#contenedorResultVotacion{
background: lightblue;
padding: 0;
margin: 0;
width: 100%;
height: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

#contenedorEsperarCerrarVotacion{
    width: 50%;
    height: 50%;
    padding: 0px;
    background: lightcyan;
}

#mensajeTituloEsperarCerrar{
    font-size: 35px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#mensajeSecundarioEsperarCerrar{
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: normal;
    font-family: sans-serif;
}

#contenedorResultadosVotacion{
    background: #E5E4E0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#contenedorResulVotElement{
    background: #F6FAFB;
    margin: 15px 0px;
    width: 80%;
    height: 75%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#tituloPregResultVot{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 27px;
    font-weight: 500;
    font-family: sans-serif, 'Roboto';
}

#contenedorPieResultVot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 100%;
}

#contenedorBotonDirectorio{
    width: 80%;
    height: 15%;
    background: aliceblue;
    display: flex;
    justify-content: end;
    align-items: end;
}

#BotonVerDirectorio{
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 15px;
    width: 35%;
    height: 30%;
}