#contenedorPadreVotar {
    background: yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#contenedorSecundarioVotar{
    background: yellowgreen;
    width: 60%;
    height: 90vh; 
    margin: auto;
    display: flex;
    flex-direction: column;
}

.filasVotar{
    padding: 0px;
    margin: 0px;
}

#filaTituloVotar{
    height: 15%;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#tituloVotar{
    font-size: 45px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

#filaCuerpoVotar{
    width: 95%;
    background: aliceblue;
    height: 80%;
    margin: auto;
    margin-top: 0px;
    
    overflow-y: scroll;
}

#contenedorVotacionVotar{
    background: red;
    width: 90%;
    height: 90%;
    margin: 10px auto;
    border-radius: 40px;

}

#tituloPregVotacion{
    background: purple;
    justify-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}